* {
    margin: 0;
    padding: 0;
  }
  
  body {
    max-width: 80%;
    margin: auto;
  }
  
  header {
    background-color: rgb(31, 183, 31);
    text-align: center;
    margin: 5px 0 30px 0;
  }
  
  header h1 {
    padding: 10px 0;
    color: rgb(226, 242, 213);
  }
  
  main {
    float: left;
    vertical-align: top;
    min-width: 45%;
  }
  
  h4 {
    background-color: rgb(242, 242, 242);
    font-size: 20px;
  }
  
  h3 {
    text-align: right;
    padding-top: 30px;
    margin-right: 10px;
  }
  
  ol li p {
    float: right;
    margin: 0;
  }
  
  input, select, textarea, h4 {
    margin: 5px 0;
  }
  
  button {
    margin-bottom: 30px;
  }
  
  textarea {
    resize: none;
  }
  
  .picture {
    width: 100px;
    height: 100px;
    float: right;
  }
  
  .user {
    display: inline-block;
  }
  
  .ticket {
    display: none;
    vertical-align: top;
    float: right;
    margin-right: 12;
    box-sizing: border-box;
    background-color: #ffebb5;
    width: 450px;
    text-align: center;
    font-family: Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
    position: relative;
    overflow: hidden;
  }
  
  .ticket::before {
    content: "▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼";
    color:white;
    position: absolute;
    top: -8px;
    left: 0px;
  }
  
  .ticket::after {
    content: "▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲";
    color:white;
    position: absolute;
    bottom: -5px;
    left: 0px;
  }
  
  .left {
    text-align: left;
    padding-left: 10px;
  }